# Dependencies
/node_modules

# Build output
/.next
/out

# Local env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Stripe CLI or backups
stripe.tar.gz
*.tar.gz
.vercel
